<!DOCTYPE HTML>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    <title> Новый читатель </title>
</head>
<body>
<div class=menu>
    <ul>
        <li class=active><a href="#">Новый читатель</a></li>
    </ul>
</div>
<div class=block>
    <form action='' method="post">
        <p>
            <label for="new_reader_name">Имя читателя: </label>
            <input type="text" id="new_reader_name" name="new_reader_name">
        </p>
        <p>
            <input name="add_reader" type="submit" value="Добавить читателя">
            <input name="cancel" type=submit value="Отменить">
        </p>
    </form>
</div>

</body>
</html>